@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .bg-dots-pattern {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Ccircle cx='10' cy='10' r='1.5' fill='%23cccccc' /%3E%3Ccircle cx='30' cy='30' r='1.5' fill='%23cccccc' /%3E%3C/svg%3E");
    background-size: 40px 40px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.hero-highlight {
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    transparent 60%,
    var(--tw-color-my-yellow) 60%,
    var(--tw-color-my-yellow) 100%
  );
  background: -moz-linear-gradient(
    top,
    transparent 0%,
    transparent 60%,
    var(--tw-color-my-yellow) 60%,
    var(--tw-color-my-yellow) 100%
  );
  background: -o-linear-gradient(
    top,
    transparent 0%,
    transparent 60%,
    var(--tw-color-my-yellow) 60%,
    var(--tw-color-my-yellow) 100%
  );
  background: -ms-linear-gradient(
    top,
    transparent 0%,
    transparent 60%,
    var(--tw-color-my-yellow) 60%,
    var(--tw-color-my-yellow) 100%
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 60%,
    var(--tw-color-my-yellow) 60%,
    var(--tw-color-my-yellow) 100%
  );
}
#Projects {
  min-height: 100vh; /* Ensure the section takes at least the full height of the viewport */
  scroll-margin-top: 50px; /* Adjust the offset when the section comes into view */
}
.responsive-heading {
  @apply font-semibold leading-tight sm:leading-normal md:leading-relaxed lg:leading-normal;
  font-size: calc(1.5rem + 1vh); /* Scales based on viewport height */
}
.text-green {
  color: #00c259;
}
.image-large {
  margin-top: 0;
}
/*Slider*/

.slider {
  position: relative;
  margin-top: 0;
}
.slider img {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.slider-track {
  display: flex;
  margin-top: 0;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Crop to fill the container without distortion */
  display: block; /* Avoid inline gap issues */
}
